# Copie este arquivo para .env e preencha com suas credenciais AWS (a cada 4 horas)

# Ambiente: dev | staging | production
ENVIRONMENT=dev

# AWS Academy (atualize a cada 4 horas)
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=

# Para testes locais, preencha os valores abaixo apos terraform apply:
# DATABASE_URL=postgres://admin:SolidaryTech2024@<endpoint_rds>:5432/solidarytech
# AWS_SQS_URL=https://sqs.us-east-1.amazonaws.com/<account>/solidary-donations
# AWS_DYNAMODB_TABLE=SolidaryTechVolunteers